$cl-light = rgb(240, 240, 240);
$cl-dark = rgb(48, 48, 48);
$cl-gray = lightness($cl-dark, 60%);
$cl-lightgray = lightness($cl-dark, 90%);
$cl-focus = rgb(48, 96, 192);
$cl-link = rgb(48, 96, 192);
$cl-visited = rgb(96, 48, 192);

$font-family = Meiryo, 'Hiragino Kaku Gothic ProN', sans-serif;

$size-head-bar-height = 4rem;